{% extends "layout.html" %}

{% block heading %}
  Second page
{% endblock %}

{% block body %}
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet consectetur adipiscing elit pellentesque habitant morbi. Et malesuada fames ac turpis egestas. Mauris cursus mattis molestie a iaculis at. In ante metus dictum at tempor commodo ullamcorper a. Sed arcu non odio euismod lacinia at quis risus sed. Nunc mi ipsum faucibus vitae. Cras fermentum odio eu feugiat pretium. Libero nunc consequat interdum varius sit amet mattis. Aliquet porttitor lacus luctus accumsan tortor posuere ac ut consequat. Sagittis purus sit amet volutpat consequat mauris nunc. Sem fringilla ut morbi tincidunt augue interdum.
    </p>
    <a href="{{ url_for('index')}}">Go back..</a>
{% endblock %}
